<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
  id          = "oluearn.com"
  versionCode = "40"
  version     = "6.1.0" >

  <!-- versionCode is optional and Android only -->

  <name>STACKED TOO</name>

  <description>
    STACKED TOO
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
    OLU MONEY
  </author>

  <!-- We'll include the Barcode plugin as an example -->
  <plugin name="cordova-plugin-statusbar" spec="~2.4.1" source="npm"/>
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarStyle" value="lightcontent" />
  
  <!-- We'll include the Barcode plugin as an example -->
  <preference name="android-build-tool" value="gradle" />
  <preference name="phonegap-version" value="cli-7.1.0" />
  <plugin name="cordova-plugin-admobpro" source="npm"/>
  <variable name="PLAY_SERVICES_VERSION" value="16.0.0" />


<icon src="icon.png" />
</widget>
